@import 'https://fonts.googleapis.com/css?family=Lato';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
a {
  text-decoration: none;
  color: #303030;
}
h2 {
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}
h4 {
  padding: 140px 0 35px;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #222;
}
.ital {
  font-style: italic;
}
.button {
  background: #f68236;
  border: none;
  text-transform: uppercase;
  padding: 20px 45px;
  color: #fff;
  margin: 40px 0 80px;
}
.button-wrap {
  text-align: center;
}
.white-button {
  background-color: #fff;
  color: #303030;
  border: 1px solid #303030;
}
.gr-bg {
  background-color: #d2d2d2;
}
.deepgrey-bg {
  background-color: #bbb;
}
.verygr-bg {
  background-color: #606060;
}
body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
  color: #606060;
}
body .wrapper {
  padding: 35px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
header {
  display: flex;
  padding-bottom: 45px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
}
header >div {
  align-self: baseline;
  padding: 0 20px;
}
header .logo {
  padding: 14px;
  background: #222;
  color: #fff;
  align-self: baseline;
}
header .main-menu .items {
  display: flex;
}
header .main-menu .items .item a {
  display: inline-block;
  padding: 12px;
}
header i {
  vertical-align: bottom;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
  display: inline-block;
  height: 17px;
  width: 17px;
}
header .mem {
  background-image: url("../images/user.png");
}
header .bask {
  background-image: url("../images/Ellipse-3.png");
}
header .login a {
  color: #f68236;
}
/*serch*/
.search-form {
  padding: 0;
  display: inline-block;
}
.search-form .fieldwrap {
  padding: 0;
  position: relative;
}
.search-form .fieldwrap input {
  padding: 12px;
}
.search-form .fieldwrap .lens {
  margin: 0;
  height: 43px;
  width: 43px;
  background-color: #303030;
  background-image: url("../images/lens.png");
}
.title {
  color: #000;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}
/*content*/
.content .title {
  padding: 65px 0 20px;
}
.content .show {
  text-decoration: underline;
  font-style: italic;
  font-size: 18px;
  font-family: Georgia;
  text-align: center;
  display: block;
  cursor: pointer;
}
.content .show .arrow-min {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #303030;
  border-right: 0;
  margin-left: 10px;
}
.content .items {
  flex-wrap: wrap;
  padding: 60px 0 150px;
  display: flex;
  justify-content: space-between;
}
.content .items .gal-item {
  text-align: center;
}
.content .items .gal-item .gal-name {
  padding: 30px 0 10px;
  font-weight: bold;
}
/*slider*/
.slider-title {
  font: italic 24px/27px Georgia;
  color: #606060;
  text-align: center;
  padding-bottom: 40px;
}
.slide-items {
  background-color: #bbb;
  position: relative;
  display: flex;
  height: 118px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;
}
.slide-items .slide-item {
  width: 16.666666666666668%;
}
.slide-items :before,
.slide-items :after {
  top: 0;
  content: '';
  position: absolute;
  width: 40px;
  height: 100%;
  background-color: rgba(245,245,245,0.3);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.slide-items :before {
  left: 0;
  background-image: url("../images/arrow-l.png");
}
.slide-items :after {
  right: 0;
  background-image: url("../images/arrow-r.png");
}
/*details*/
.item-image {
  position: relative;
}
.item-image img {
  width: 100%;
}
.item-image .prev {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.item-image .prev li {
  border: 2px solid #e5e5e5;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.item-image .prev li a {
  display: inline-block;
  cursor: pointer;
}
.description {
  text-align: center;
  padding: 40px 0 60px;
}
.description p {
  padding: 10px;
}
.description .art {
  font-size: 12px;
  padding: 10px;
  color: #a3a3a3;
}
.description .cost {
  font: italic 18px Georgia;
}
.description .size {
  line-height: 16px;
}
.description .size-item {
  display: inline-block;
  padding: 8px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}
.description .grey-block {
  text-transform: uppercase;
  color: #606060;
}
/*main*/
.big {
  font-size: 24px;
  text-align: center;
  font-family: Georgia;
}
.cube-wrap {
  display: flex;
  flex-wrap: wrap;
}
.cube-wrap .column {
  color: #fff;
}
.cube-wrap .column .upper {
  font-size: 24px;
  text-transform: uppercase;
}
.cube-wrap .column .ital {
  font-size: 18px;
  font-family: Georgia;
  padding: 10px;
}
.cube-wrap .column .rectangl {
  padding: 0 60px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 282px;
  height: 564px;
  flex-direction: column;
  justify-content: center;
}
.cube-wrap .column .rectangl .ital {
  text-transform: uppercase;
}
.cube-wrap .column .cube {
  padding: 50px;
  width: 282px;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cube-wrap .column .cube .ital {
  font-size: 12px;
  line-height: 14px;
}
/*footer*/
footer {
  display: flex;
  justify-content: space-between;
}
footer .block-menu {
  flex: 1 1;
}
footer .block-menu a {
  line-height: 21px;
}
