-var member = 'Vikrom'
-var baskCount = 6
extends layout
block title
	title Details

block content
	section.item-image
		img(src="", alt="")
		ul
			li
				a(href="")
			li
				a(href="")
			li
				a(href="")
	section.description
		h1 Floral primsoll
		p Article number: 14210160762
		p.italic € 99,95
		div.size
			p .Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
		p size
		div.size-items
			span.size-item 38
			span.size-item 39
			span.size-item 40
			span.size-item 41
			span.size-item 42
		button add do cart
		+slider('You may also like')
		p.grey-block Show me more related clothes