- var menu1 = [{url:'#',name:'Women',count:1725},{url:'#',name:'Men',count:635},{url:'#',name:'Kids',count:2514},{url:'#',name:'Comming Soon',count:76}]
- var menu2 = [{url:'#',name:'Terms of Service'},{url:'#',name:'Privacy Policy'},{url:'#',name:'Copyright Policy'},{url:'#',name:'Press Kit'},{url:'#',name:'Support'}]
- var menu3 = [{url:'/about',name:'About us'},{url:'#',name:'Shipping Metods'},{url:'#',name:'Career'},{url:'#',name:'Contact'}]
footer
	+createMenu("Collection")
		each i in menu1
			+navItem(i)
	+createMenu("Site")
		each i in menu2
			+navItem(i)
	+createMenu("Shop")
		each i in menu3
			+navItem(i)
	div.block-menu
		h2 Social
		p.
			Shoper is made with love in Warsaw, 2014 © All rights reserved. El Passion
		.social-linc
			a(href="/twitter")
				i.twit
			a(href="/facebook")
				i.face
			a(href="/instagramm")
				i.inst
